# Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [4]:
sp500 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Notebooks/02Dop_pandas_Фамилия_Имя_в2/sp500hst.txt', names=["date", "ticker", "open", "high", "low", "close", "volume"])
sp500

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [5]:
sp500.iloc[:, 2:6].mean()

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [6]:
sp500['date'] = pd.to_datetime(sp500['date'], format="%Y%m%d")

In [7]:
sp500.insert(1, 'month', pd.DatetimeIndex(sp500['date']).month)
sp500

             date  month ticker   open     high     low  close  volume
0      2009-08-21      8      A  25.60  25.6100  25.220  25.55   34758
1      2009-08-24      8      A  25.64  25.7400  25.330  25.50   22247
2      2009-08-25      8      A  25.50  25.7000  25.225  25.34   30891
3      2009-08-26      8      A  25.32  25.6425  25.145  25.48   33334
4      2009-08-27      8      A  25.50  25.5700  25.230  25.54   70176
...           ...    ...    ...    ...      ...     ...    ...     ...
122569 2010-08-13      8    ZMH  51.72  51.9000  51.380  51.44   14561
122570 2010-08-16      8    ZMH  51.13  51.4700  50.600  51.00   13489
122571 2010-08-17      8    ZMH  51.14  51.6000  50.890  51.21   20498
122572 2010-08-19      8    ZMH  51.63  51.6300  50.170  50.22   18259
122573 2010-08-20      8    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [8]:
sp500.groupby('ticker').aggregate({'volume': 'sum'})

          volume
ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
...          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916

[524 rows x 1 columns]

In [9]:
sp500['ticker'].nunique()

524

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [10]:
sp_data2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Notebooks/02Dop_pandas_Фамилия_Имя_в2/sp_data2.csv', delimiter=';', names=['short','full','percentage'])

In [11]:
sp500_2 = sp500.merge(sp_data2.iloc[:,:2], how='left', left_on='ticker', right_on='short').drop(columns = 'short')
sp500_2.full.fillna('None', inplace = True)
sp500_2

,date,month,ticker,open,high,low,close,volume,full
0,2009-08-21,8,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies
1,2009-08-24,8,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies
2,2009-08-25,8,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies
3,2009-08-26,8,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies
4,2009-08-27,8,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies
...,...,...,...,...,...,...,...,...,...
122569,2010-08-13,8,ZMH,51.72,51.9000,51.380,51.44,14561,None
122570,2010-08-16,8,ZMH,51.13,51.4700,50.600,51.00,13489,None
122571,2010-08-17,8,ZMH,51.14,51.6000,50.890,51.21,20498,None
122572,2010-08-19,8,ZMH,51.63,51.6300,50.170,50.22,18259,None
122573,2010-08-20,8,ZMH,50.03,50.5500,49.480,49.82,17792,None

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [12]:
recipes = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Notebooks/02Dop_pandas_Фамилия_Имя_в2/recipes_sample.csv')
recipes.n_steps.fillna('None', inplace = True)
recipes.description.fillna('None', inplace = True)
recipes.n_ingredients.fillna('None', inplace = True)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,None,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,None,my children and their friends ask for my homem...,None
2,i can t believe it s spinach,38798,30,1533,2002-08-29,None,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,None,my sister-in-law made these for us at a family...,None
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,None
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,None,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,None,this is a traditional late summer early fall s...,None
29998,zydeco soup,486161,60,227978,2012-08-29,None,this is a delicious soup that i originally fou...,None
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [13]:
reviews = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Notebooks/02Dop_pandas_Фамилия_Имя_в2/reviews_sample.csv')
reviews.rename(columns={"Unnamed: 0" : 'id'}, inplace=True)
reviews

,id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [14]:
recipes.groupby('contributor_id').aggregate({'name': 'count'}).sort_values(by='name', ascending=False)

                name
contributor_id
89831            421
37449            346
37779            345
1533             186
169430           183
...              ...
245835             1
245653             1
245590             1
245378             1
2002247884         1

[8404 rows x 1 columns]

In [15]:
recipes.contributor_id.nunique()

8404

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [16]:
reviews.groupby('id').aggregate({'rating': 'mean'})

         rating
id
5           4.0
6           0.0
7           2.0
8           4.0
9           5.0
...         ...
1132291     5.0
1132292     1.0
1132293     5.0
1132326     5.0
1132352     4.0

[126696 rows x 1 columns]

In [17]:
reviews.id.nunique()

126696

In [18]:
print("Количество рецептов с пустым отзывом: ", reviews.review.isnull().sum())

Количество рецептов с пустым отзывом:  17

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [19]:
recipes.groupby(pd.DatetimeIndex(recipes.submitted).year).aggregate({'submitted': 'count'})

           submitted
submitted
1999             275
2000             104
2001             589
2002            2644
2003            2334
2004            2153
2005            3130
2006            3473
2007            4429
2008            4029
2009            2963
2010            1538
2011             922
2012             659
2013             490
2014             139
2015              42
2016              24
2017              39
2018              24

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [20]:
rr = recipes[['id', 'name']].merge(reviews[['user_id', 'rating', 'recipe_id']], how='left', left_on='id', right_on='recipe_id').drop(columns = 'recipe_id')
rr

            id                                    name    user_id  rating
0        44123   george s at the cove  black bean soup   743566.0     5.0
1        44123   george s at the cove  black bean soup    76503.0     5.0
2        44123   george s at the cove  black bean soup    34206.0     5.0
3        67664      healthy for them  yogurt popsicles   494084.0     5.0
4        67664      healthy for them  yogurt popsicles   303445.0     5.0
...        ...                                     ...        ...     ...
128591  486161                             zydeco soup   305531.0     5.0
128592  486161                             zydeco soup  1271506.0     5.0
128593  486161                             zydeco soup   724631.0     5.0
128594  486161                             zydeco soup   133174.0     5.0
128595  298512  cookies by design   cookies on a stick   804234.0     1.0

[128596 rows x 4 columns]

In [21]:
rr.iloc[191,:]

id                                223349
name       pasta  with shrimp   eggplant
user_id                              NaN
rating                               NaN
Name: 191, dtype: object

In [22]:
rr.dropna(axis='index', how='any', subset=['rating'], inplace=True)
rr.iloc[191,:]

id                           60938
name       pizza pan  potato skins
user_id                    73836.0
rating                         5.0
Name: 192, dtype: object

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [23]:
print(np.where(pd.isna(reviews)))
print(reviews.iloc[8881, :])
print(reviews.shape, recipes.shape)

(array([  8881,  12129,  18578,  21913,  33232,  42783,  42855,  43551,
        53998,  55100,  56197,  59803,  67973,  71067,  96199, 105206,
       109590]), array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]))
id                56957
user_id      2001567544
recipe_id          9054
date         2017-06-03
rating                5
review              NaN
Name: 8881, dtype: object
(126696, 6) (30000, 8)

In [24]:
rr2 = recipes[['name', 'id']].merge(reviews.groupby('recipe_id').agg({'review': 'count'}), how='left', left_on='id', right_on='recipe_id').rename(columns={'review': 'review_count'})
rr2

                                               name      id  review_count
0             george s at the cove  black bean soup   44123           3.0
1                healthy for them  yogurt popsicles   67664           8.0
2                      i can t believe it s spinach   38798           3.0
3                              italian  gut busters   35173           1.0
4          love is in the air  beef fondue   sauces   84797           8.0
...                                             ...     ...           ...
29995  zurie s holey rustic olive and cheddar bread  267661           4.0
29996          zwetschgenkuchen  bavarian plum cake  386977           2.0
29997   zwiebelkuchen   southwest german onion cake  103312           6.0
29998                                   zydeco soup  486161           6.0
29999        cookies by design   cookies on a stick  298512           1.0

[30000 rows x 3 columns]

In [25]:
rr2.iloc[18578, :]

name            neeps an tatties
id                         17694
review_count                 7.0
Name: 18578, dtype: object

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [26]:
rr3 = recipes[['id', 'submitted']].merge(reviews[['recipe_id', 'rating']], how='right', left_on='id', right_on='recipe_id').drop(columns=['recipe_id'])
rr3.groupby([pd.DatetimeIndex(rr3.submitted).year]).agg({'rating': 'mean'}).sort_values(by='rating')

             rating
submitted
2017       2.750000
2018       3.388889
2016       3.538462
2015       4.207317
1999       4.274895
2000       4.284585
2013       4.336508
2009       4.360447
2011       4.375850
2008       4.387416
2001       4.393945
2002       4.404645
2010       4.406279
2005       4.409687
2012       4.412736
2006       4.416310
2007       4.420073
2003       4.439152
2004       4.463778
2014       4.538235

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [36]:
with pd.ExcelWriter("/content/excel_6.1.xlsx") as writer:
  rr.to_excel(writer, sheet_name='Рецепты с оценками')
  rr2.to_excel(writer, sheet_name='Количество отзывов по рецептам')

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3